*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
.wrapper{
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 0 8%;
}
header ul{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    list-style: none;
}
header li{
    margin: 7px 0px 10px 0px;
    font-size: 13px;
    float: left;
}
header li a{
    color: #C8C8C8;
    text-decoration: none;
}
header li a:hover{
    color: white;
    text-decoration: underline;
}
header li img{
    width: 30px;
    height: 30px;
}
.content1 img{
    width: 100%;
    margin: 50px 0px 8px 0px;
}
.content2 img{
    width: 100%;
    margin: 0px 0px 8px 0px;
}
.content3{
    display: flex;
    justify-content: center;
}
.content3 img{
    width: 48.5%;
    margin: 0.5%;
}
footer{
    width: 100%;
    background-color: #F8F8F8;
    padding: 2.5% 11.5%;
    font-size: 12px;
    color: #888888;
}
footer p{
    margin: 1.5% 0;
}
.text{
    border-bottom-style:solid;
    border-color: 	#A8A8A8;
    border-width:1px ;
}
.list{
    margin: 1% 0;
    
    
    line-height: 25px;
}
.list ul{
    list-style: none;
}
.list ul a{
    color: #585858;
    text-decoration: none;
}
.list ul a:hover{
    color: black;
    text-decoration: underline;
}
.ul2 ul{
    margin: 0px 0px 12px 0px;
}
.ul4 ul{
    margin: 0px 0px 12px 0px;
}
.ul5 ul{
    margin: 0px 0px 12px 0px;
}
.ul1 ul li:nth-child(1){
    color: black;
}
.ul2 ul li:nth-child(1){
    color: black;
}
.ul3 ul li:nth-child(1){
    color: black;
}
.ul4 ul li:nth-child(1){
    color: black;
}
.ul5 ul li:nth-child(1){
    color: black;
}
.text2{
    margin: 3% 0 0 0;
    border-bottom-style:solid;
    border-color: 	#A8A8A8;
    border-width:1px ;
}
.text2 a{
    color: cornflowerblue;
    text-decoration: none;
}
.text2 a:hover{
    text-decoration: underline;
}
.last{
    display: flex;
    justify-content: space-between;
    margin: 1% 0 0 0;
}
.last span:nth-child(1){
    float: left;
    margin: 0 3% 0 0;
}
.last ul{
    
    display: flex;
    flex-direction: row;
    list-style: none;
}
.last ul a{
    color: #585858;
    text-decoration: none;
}
.last ul a:hover{
    color: black;
    text-decoration: underline;
}
.last span:nth-last-child(1){
    color: #585858;
    text-decoration: none;
    float: right;
}
.last li::after {
    margin-left: 5px;
    content: " ";
    border-right: 1px solid #a8a8a8;
    margin-right: 10px;
}
.last li:last-child::after{
    border-right: 0;
}
.right input{
    width: 20px;
    height: 18px;
}
.right span:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

